@font-face {
    font-family: vollkorn;
    src: url(fonts/vollkorn-regular-webfont.woff);
}

div {
    font-family: vollkorn;
}

main {
	border-color: #8a9da8;
	background: #f1f3f4;
}

#ticker {
	position: relative;

	margin-left: 7.5em;

	list-style-type: none;
}

#ticker::before {
	position: absolute;
	top: 0;
	bottom: 0;
	left: 0;

	width: 0.4em;

	content: "";

	background: #3983ab;
}



#ticker >li::before {
	position: absolute;
	left: -0.5em;

	width: 1em;
	height: 1em;

	content: "";

	border: 0.2em solid #3983ab;
	border-radius: 50%;
	background: #dfac20;
}

#ticker >li {
	margin-bottom: 3em;
}

li h3 {
	margin: -1em 0 0.2em;
}

time {
	display: block;

	width: 5em;
	margin-left: -8.5em;

	text-align: right;

	font-weight: bold;
}
